# virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.so

# Notebook junk
.ipynb_checkpoints/

# Logs and dumps
*.log
*.out

# IDE/Editor files
.vscode/
.idea/

# Local dev environment
.env

# Data & output
realColon_thesis/
masterThesis/
other_datasets/
final/
THESIS_RUNS/
mising/
best_epochs/
eval_results/

test/audit*/
test/verify_labels_output/

wandb/
delli1/

code/realColon_lesions
code/pred_cache.db

*.pt
