# virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.so

# Notebook junk
.ipynb_checkpoints/

# Logs and dumps
*.log
*.out

# IDE/Editor files
.vscode/
.idea/

# Local dev environment
.env

# Data & output
data/
output/
results/
models/
checkpoints/
yolov5/
realColon_thesis/
masterThesis/
other_datasets/

test/audit*/
test/verify_labels_output/

mmdetection/
ultralytics/
yolov5/
wandb/

RT-DETRv2/
RepPointsV2/


*.pt